#page{
  width: 98%;
  margin: 0 auto;
}

#header{
  width: 100%;
  height: 165px;
  border: 0px solid #000;
  margin-bottom:16px;
}

.kiysaki img{
  width: 150px;
  float: left;
  margin: 10px;
}

.nadpis{
  width: 800px;
  height: 125px;
  border: 0px solid #000;
  float: left;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  font-size: 9em;
  margin-top: -175px;
}

.headerCenter {
  width: 100%;
  height: 165px;
  border: 1px solid #000;
  float: left;
}

.loginDiv {
  width: 360px;
  height: 165px;
  border: 0px solid #000;
  float: left;
  border-style: dashed;
  float: right;
}

#content{
  padding: 2%;
  width: 96%;
  margin-right:16px;
  margin-bottom:16px;
  border: 1px solid #000;
  padding-bottom: 150px;
}

#footer{
  padding: 2%;
  width: 96%;
  height: 400px;
  border: 1px solid #000;
}

#loginPnl{
  width: 350px;
  margin: 0 auto;
}

.pageContentTitle {
  width: 80%;
}

.pageContentTitle p {
  font-size: 35px;
  font-style: oblique;
  font-weight: bold;
  margin-top: auto;
}

.pageTopic {
  width: 300px;
  border: 3px solid #000;
  height: 70px;
  margin-bottom: 15px;
  //visibility: hidden;

}
.pageTopicTitle {
  width: 33%;
  float: left;
  border: 1px solid #000;
  //visibility: hidden;
}

.pageTopicTitle p {
  font-size: 15px;
  //visibility: hidden;
}

.pageTopicContent {
  width: 67%;
  border: 2px solid #000;
  //visibility: hidden;
}

.addButtonDiv {
  text-align: right;
  padding-bottom: 20px;
  //visibility: hidden;
}

.divPoznamky {
    width: 100%;
    margin-left: 20px;
    margin-top: 20px;
}

.editorTextu {
    height: 290px;
    padding-bottom: 40px;
    margin-right: 40px;
    background-color: white;
}

.divTable {
    border: 5px solid #DFDFDF;
    border-radius: 10px;
    background-color: #DFDFDF;
    margin-left: 2px;
    margin-top: 1px;
    min-height: 420px;
}

.divDataTable {
    margin-left: 10px;
    margin-right: 10px;
}

.divTable table {
    table-layout: fixed;
}

.divTable th {
    width: 100px;
    text-align: left;
}

.prvniSloupec {
    padding-left: 20px;
}

table td {
    width: 220px;
}

table td input {
    width: 190px;
}

table td select {
    width: 200px;
}

.tableCaption {
    display: inline-block;
    font-weight: bold;
    text-decoration: underline;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
}

.buttons {
    width: 1000px;
    margin: auto;
    padding-top: 20px;
}

.buttons .process {
    float: left;
    margin-right: 250px;
}


.pageTitle {
    width: 100%;
}

.pageTitle p {
    font-size: 25px;
    font-weight: bold;
    display: inline;
}

.pageTitleLeft {
    float: left;
}

.tabTitle {
    margin-top: 20px;
    margin-right: 10px;
}

.tabTitleLeft {
    float: left;
}

.tabTitle p {
    font-size: 25px;
    font-weight: bold;
    display: inline;
    margin-top: 20px;
}

.pageTitleLeft select {
    width: 200px;
    margin-left: 20px;
    font-size: x-large;
}

.pageTitleRight {
    text-align: right;
    margin-bottom: 20px;
    width: 100%;
}

.tabicko {
    height: 430px;
}

.divFakturaDetailTable {
    width: 800px;
}

.divFakturaDetailTable table {
    width: 100%;
}

.divFakturaDetailTable th {
    text-align: left;
}

.divFakturaDetailTable select {
    font-size: large;
}

.divOsobaDetailTable th {
    text-align: left;
}

.divOsobaDetailTable select {
    font-size: large;
}


.detailPageDataDiv th {
    text-align: left;
}

.detailPageDataDiv select {
    font-size: large;
}
