.pageTitle {
    width: 100%;
}

.pageTitle p {
    font-size: 25px;
    font-weight: bold;
    display: inline;
}

.pageTitleLeft {
    float: left;
}

.pageTitleLeft select {
    width: 800px;
    margin-left: 20px;
    font-size: x-large;
}

.pageTitleRight {
    text-align: right;
    margin-bottom: 20px;
    width: 100%;
}


.upload {
  width: 260px;
  display: inline-block;
  height: 0px;
  margin-right: -3px;
}

.upload .ui-fileupload-content {
  visibility: hidden;
}

.upload .ui-fileupload-buttonbar .ui-button {
  visibility: visible;
}

.upload .ui-fileupload-buttonbar {
  padding: 0px;
  visibility: hidden;
}

